database:
  host: "localhost"
  port: 5432
  user: "postgres"
  password: "password"
  dbname: "postgres"
  sslmode: "disable"
  max_idle_conns: 10
  max_open_conns: 100
  conn_max_lifetime: "1h"
jwt:
  private_key_path: "./configs/keys/jwt-private.pem"
  public_key_path: "./configs/keys/jwt-public.pem"
  expiration_time: 24h
app:
  port: 8080

